# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env
.env.*
!.env.example

# FastAPI / local files
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# VS Code
.vscode/

# Node
node_modules/

# Build files
dist/
build/

# OS
.DS_Store
Thumbs.db